:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #eaeded;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.merged-image {
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

.slick-dots li button:before {
  font-size: 12px;
  color: white !important;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button:before {
  color: #ffd700 !important;
  opacity: 1;
  transform: scale(1.2);
}

@media (max-width: 600px) {

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}